@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal scrollbar) */
}

/* Style the track (part of the scrollbar not being used) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light grey background */
}

/* Style the thumb (part of the scrollbar that you drag) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Dark grey thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Style the thumb when hovering */
::-webkit-scrollbar-thumb:hover {
  background-color: #37309e; /* Darker grey on hover */
}
